<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')  %>    
    <main class="px-24 py-10">

        <%- include('./adminHeader.ejs') %>

        <div class="flex gap-5">
            <a href="/signup" class="rounded text-sm text-white text-center bg-blue-600 rounded no-underline px-[20px] py-[10px] font-bold">Thêm nhân viên</a>
            <a href="/admin/staff/sort" class="rounded text-sm text-white text-center bg-blue-600 rounded no-underline px-[20px] py-[10px] font-bold">Sắp xếp theo tên</a>
            <form class="ml-20" action="/admin/staff/findByName" method="post">
                <button type="submit" class="mr-2 rounded text-sm text-white text-center bg-blue-600 rounded no-underline px-[20px] py-[12px] font-bold">Tìm theo tên</button>
                <input class="border-2 border-zinc-950 p-2" type="text" id="stringName" name="stringName" placeholder="Tên cần tìm" required>
            </form>
        </div>
        <hr class="my-5 border border-black">
        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Nhân viên</h3>
            <% if (staffs.length > 0){ %>
                <table class="w-full text-lg">
                    <thead class="bg-zinc-300 h-[50px]">
                        <!-- <th class="w-[5%]"></th> -->
                        <th class="w-[5%] border-r-2">STT</th>
                        <th class="w-[10%] border-r-2">Họ và tên</th>
                        <th class="w-[10%] border-r-2">Email</th>
                        <th class="w-[10%] border-r-2">Địa chỉ</th>
                        <th class="w-[10%] border-r-2">SĐT</th>
                        <th class="w-[10%] border-r-2">Khác</th>
                    </thead>
                    <tbody class="bg-zinc-100">
                        <% staffs.forEach(staff => { if (staff.statusNV) { %>
                        <tr class="h-[40px] border-b-2">
                            <!-- <th><input type="checkbox"></th> -->
                            <th class="border-r-2"><%= staff.MaNV %></th>
                            <th class="border-r-2"><%= staff.HoVaTen %></th>
                            <th class="border-r-2"><%= staff.email %></th>
                            <th class="border-r-2"><%= staff.DiaChi %></th>
                            <th class="border-r-2"><%= staff.SDT %></th>
                            <th class="border-r-2">
                                <a href="/admin/staff/update/<%= staff.MaNV %>" class="inline-block text-sm text-white text-center bg-green-600 rounded no-underline px-[5px] py-[5px]">Sửa</a>
                                <form class="inline-block" action="/admin/staff/delete/<%= staff.MaNV %>" method="post">
                                    <input type="hidden" name="name" value="value" /> 
                                    
                                    <button type="submit" class="text-sm text-white text-center mr bg-red-600 rounded no-underline px-[5px] py-[5px]">Xóa</button>
                                </form>
                            </th>
                        </tr>
                        <% }}) %>
                    </tbody>
                </table>
            <% } else { %>
                <h3>KHÔNG CÓ NHÂN VIÊN NÀO !!!</h3>
            <% } %>
        </div>
        <hr class="my-5 border border-black">
        <form class="mb-5" action="/admin/staff" method="post">
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Nhân viên và hóa đơn</h3>
            <label for="maxSalary">NHẬP GIÁ TRỊ LƯƠNG TỐI ĐA CẦN TÌM KIẾM: </label>
            <input class="ml-10 border-2 border-zinc-950 p-2 " type="number" id="maxSalary" name="maxSalary" placeholder="> 20000" required>
            <button type="submit" class="ml-10 py-2 rounded bg-blue-600 text-white text-center text-sm font-medium w-[50px]">Tìm</button>

            <a href="/admin/staff" class="ml-5 py-2 px-3 border-t border-b border-blue-600 rounded bg-blue-600 text-white text-center text-sm font-medium w-[50px]">Reset</a>
        </form>
        <% if (result === 'Nothing'){ %>
        <% } else { %>
            <table class="w-[65%] text-lg">
                <% if (result.length > 0) { %>
                <thead class="bg-zinc-300 h-[50px]">
                    <th class="w-[5%] border-r-2">STT</th>
                    <th class="w-[20%] border-r-2">Họ và tên</th>
                    <th class="w-[10%] border-r-2">Lương</th>
                    <th class="w-[10%] border-r-2">Số lượng hóa đơn</th>
                </thead>

                <% result.forEach(staff => { %>
                <tbody class="bg-zinc-100">
                        <tr class="h-[40px] border-b-2">
                            <th class="border-r-2"><%= staff.MaNV %></th>
                            <th class="border-r-2"><%= staff.HoVaTen %></th>
                            <th class="border-r-2"><%= staff.Luong %></th>
                            <th class="border-r-2"><%= staff.SoLuongHoaDon %></th>
                        </tr>
                </tbody>
                <% })} else { %>
                    <h2 class="mt-5 font-bold">KHÔNG CÓ NHÂN VIÊN</h2> 
                <% } %>
            </table>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>