<%- include('../includes/header.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="px-24 py-10">
                <div class="flex gap-10">
                    <a href="/admin" class="text-black text-2xl font-bold mb-5">Món</a>
                    <a href="/admin/table" class="text-black text-2xl font-bold mb-5">Bàn</a>
                    <a href="/admin/cart" class="text-black text-2xl font-bold mb-5">Đơn hàng</a>
                    <a href="/voucher" class="text-black text-2xl font-bold mb-5">Voucher</a>
                    <a href="/staff" class="text-black text-2xl font-bold mb-5">Nhân viên</a>
                </div>

                <hr class="my-5 border border-black">

                <div>
                    <h3 class="text-black text-2xl not-italic font-bold mb-5">Ban</h3>
                    <table class="w-full">
                        <% if (fullTables.length===0){ %>
                            Không còn bàn trống
                            <% } else { %>
                                <thead>
                                    <th class="w-[40%]">Stt</th>
                                    <th class="w-[30%]">Số lượng ghế</th>
                                    <th class="w-[20%]">Tình trạng</th>
                                    <!-- <th class="w-[10%]">Khac</th> -->
                                </thead>
                                <% tables.forEach(table=> { %>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Ban hop <%= table.ID %>
                                            </th>
                                            <th>
                                                <%= table.seats %>
                                            </th>
                                            <th>
                                                <%= table.current_status ? 'Còn trống : 'Đã được đặt' %>
                                            </th>
                                        </tr>
                                    </tbody>
                                    <% }) %>
                                        <% } %>
                    </table>
                </div>

                <hr class="my-5 border border-black">

                <form action="/admin/table/detail" method="post">
                    <h3 class="text-black text-2xl not-italic font-bold mb-5">Tính tổng doanh thu theo bàn</h3>
                    <div class="mb-3">
                        <label for="tableId">Mã bàn</label><br>
                        <input class="p-1 border w-[500px]" type="text" id="tableId" name="tableId">
                    </div>
                    <div class="mb-3">
                        <div class="inline-block mr-5">
                            <label for="startDate">Ngày bắt đầu</label><br>
                            <input class="p-1 border w-[500px]" type="date" id="startDate" name="startDate">
                        </div>
                        <div class="inline-block">
                            <label for="startTime">Giờ bắt đầu</label><br>
                            <input class="p-1 border w-[500px]" type="time" id="startTime" name="startTime">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="inline-block mr-5">
                            <label for="endDate">Ngày kết thúc</label><br>
                            <input class="p-1 border w-[500px]" type="date" id="endDate" name="endDate">
                        </div>
                        <div class="inline-block">
                            <label for="endTime">Giờ kết thúc</label><br>
                            <input class="p-1 border w-[500px]" type="time" id="endTime" name="endTime">
                        </div>
                    </div>
                    <button type="submit"
                        class=" border-2 py-2 px-4 rounded-full bg-violet-800 text-white text-center text-sm mr-5 font-medium float-right">Chi
                        tiết</button>
                </form>
            </main>
            <%- include('../includes/end.ejs') %>