<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')  %>    
    <main class="px-24 py-10">
        <%- include('./adminHeader.ejs') %>

        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">VOUCHER</h3>
            <% if (voucher.length > 0){ %>
            <table class="w-full text-lg">
                <thead class="bg-zinc-300 h-[50px]">
                    <!-- <th class="w-[5%]"></th> -->
                    <th class="w-[5%] border-r-2">STT</th>
                    <th class="w-[7%] border-r-2">Phần trăm giảm giá</th>
                    <th class="w-[15%] border-r-2">Ghi chú</th>
                    <th class="w-[10%] border-r-2">Giảm giá tối đa</th>
                    <th class="w-[10%] border-r-2">Số lượng</th>
                    <th class="w-[10%] border-r-2">Thời gian bắt đầu</th>
                    <th class="w-[10%] border-r-2">Thời gian kết thúc</th>
                    <th class="w-[10%] border-r-2">Khác</th>
                </thead>
                <tbody class="bg-zinc-100">
                    <% voucher.forEach(v => { %>
                    <tr class="h-[40px] border-b-2">
                        <!-- <th><input type="checkbox"></th> -->
                        <th class="border-r-2"><%= v.id %></th>
                        <th class="border-r-2">
                            <%= v.discount_percent  %>
                        </th>
                        <th class="border-r-2"><%= v.note ? v.note : 'Không có'  %></th>
                        <th class="border-r-2"><%= v.max_discount  %></th>
                        <th class="border-r-2"><%= v.number === 0 ? 'Đã hết thẻ voucher' : v.number  %></th>
                        <th class="border-r-2"><%= v.start_time  %></th>
                        <th class="border-r-2"><%= v.end_time  %></th>
                        <th class="border-r-2">
                            <a href="/voucher/admin/add/<%= v.id %>" class="inline-block text-sm text-white text-center bg-green-600 rounded no-underline px-[5px] py-[5px]">Thêm thẻ</a>
                            <a href="/voucher/admin/delete/<%= v.id %>" class="inline-block text-sm text-white text-center mr bg-red-600 rounded no-underline px-[5px] py-[5px]">Xóa thẻ</a>
                        </th>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <h2>KHÔNG CÓ VOUCHER NÀO !!!!</h2>
            <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>