<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')  %>    
    <main class="px-24 py-10">

        <%- include('./adminHeader.ejs') %>

        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Bàn</h3>
            <table class="w-[50%] text-lg mx-auto">
                <% if (fullTables.length === 0){ %>
                    <h2>Không còn bàn</h2>
                <% } else { %>
                    <thead class="bg-zinc-300 h-[50px]">
                        <th class="w-[20%] border-r-2">Số thứ tự</th>
                        <th class="w-[20%] border-r-2">Số lượng ghế</th>
                        <th class="w-[20%] border-r-2">Tình trạng</th>
                        <!-- <th class="w-[10%]">Khac</th> -->
                    </thead>
                    <% tables.forEach(table => { %>
                        <tbody class="bg-zinc-100">
                            <tr class="h-[40px] border-b-2">
                                <th class="border-r-2">
                                    Bàn họp số <%= table.ID  %>
                                </th>
                                <th class="border-r-2"><%= table.seats  %></th>
                                <th class="border-r-2"><%= table.current_status ? 'Còn trống' : 'Đã được đặt'  %></th>
                            </tr>
                        </tbody>
                    <% }) %>
                <% } %>
            </table>
        </div>
                
        <hr class="my-5 border border-black">

        <form action="/admin/table/detail" method="post">
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Tính tổng doanh thu theo bàn</h3>
            <div class="mb-3">
                <label class="font-bold" for="tableId">Mã bàn</label><br>
                <input class="p-1 border w-[500px]" type="text" id="tableId" name="tableId" required>
            </div>
            <div class="mb-3">
                <div class="inline-block mr-5">
                    <label class="font-bold" for="startDate">Ngày bắt đầu</label><br>
                    <input class="p-1 border w-[500px]" type="date" id="startDate" name="startDate" required>
                </div>
                <div class="inline-block">
                    <label class="font-bold" for="startTime">Giờ bắt đầu</label><br>
                    <input class="p-1 border w-[500px]" type="time" id="startTime" name="startTime" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="inline-block mr-5">
                    <label class="font-bold" for="endDate">Ngày kết thúc</label><br>
                    <input class="p-1 border w-[500px]" type="date" id="endDate" name="endDate" required>
                </div>
                <div class="inline-block">
                    <label class="font-bold" for="endTime">Giờ kết thúc</label><br>
                    <input class="p-1 border w-[500px]" type="time" id="endTime" name="endTime" required>
                </div>
            </div>
            <button type="submit" class=" border-2 py-2 px-4 bg-violet-800 rounded text-white text-center text-lg font-medium float-right">Chi tiết</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>