<div class="flex gap-10">
    <a href="/admin" class="text-black text-2xl font-bold mb-5 <%= path === 'Mon' ? 'text-violet-800' : '' %>">Món</a>
    <a href="/admin/table" class="text-black text-2xl font-bold mb-5 <%= path === 'Table' ? 'text-violet-800' : '' %>">Bàn</a>
    <a href="/admin/cart" class="text-black text-2xl font-bold mb-5 <%= path === 'Cart' ? 'text-violet-800' : '' %>">Đơn hàng</a>
    <a href="/admin/voucher" class="text-black text-2xl font-bold mb-5 <%= path === 'Voucher' ? 'text-violet-800' : '' %>">Voucher</a>
    <a href="/admin/staff" class="text-black text-2xl font-bold mb-5 <%= path === 'Staff' ? 'text-violet-800' : '' %>">Nhân viên</a>
</div>
