<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')  %>    
    <main class="px-24 py-10">

        <%- include('./adminHeader.ejs') %>
        
        <div>
            
        </div>

        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Đồ uống</h3>
            <table class="text-lg">
                <% if (drinkDishes.length === 0) { %>
                    <span>Không còn đồ uống</span>
                <% } else { %>
                        <thead class="bg-zinc-300 h-[50px]">
                            <th class="w-[5%] border-r-2">Mã loại món</th>
                            <th class="w-[10%] border-r-2">Tên</th>
                            <th class="w-[10%] border-r-2">Kích cỡ</th>
                            <th class="w-[10%] border-r-2">Giá</th>
                            <th class="w-[10%] border-r-2">Khác</th>
                        </thead>
                        <tbody class="bg-zinc-100">
                            <% drinkDishes.forEach(dish => { %>
                                <% for (let i = 0; i < dish.Kichco.length; i++){ if (dish.current_status[i]){ %>
                                    <tr class="h-[40px] border-b-2">
                                        <th class="border-r-2"><%= dish.Maloaimon %></th> 
                                        <th class="border-r-2">
                                            <%= dish.Ten  %>
                                        </th>
                                        <th class="border-r-2"><%= dish.Kichco[i] %></th>
                                        <th class="border-r-2"><%= dish.Dongia[i]  %></th>
                                        <th class="border-r-2">
                                            <a href="/dish/admin/add/<%= dish.Maloaimon %>" class="inline-block text-sm text-white text-center mr bg-blue-600 rounded no-underline px-[5px] py-[5px]">Thêm món</a>
                                            <a href="/dish/admin/update/<%= dish.Maloaimon %><%= dish.Kichco[i] %>" class="inline-block text-sm text-white text-center bg-green-600 rounded no-underline px-[5px] py-[5px]">Sửa món</a>
                                            <form class="inline-block" action="/dish/admin/delete/<%= dish.Maloaimon %><%= dish.Kichco[i] %>" method="post">
                                                <button type="submit" class="text-sm text-white text-center mr bg-red-600 rounded no-underline px-[5px] py-[5px]">Xóa món</button>
                                            </form>
                                        </th>
                                    </tr>
                                <% }} %>
                            <% }) %>
                        </tbody>
                <% } %>
            </table>
        </div>
                
        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Món ăn nhẹ</h3>
            <table class="text-lg">
                <% if (anotherDishes.length === 0) { %>
                    <h2>Không còn đồ ăn nhẹ</h2>
                <% } else { %>
                    <thead class="bg-zinc-300 h-[50px]">
                        <th class="w-[5%] border-r-2">Mã loại món</th>
                        <th class="w-[10%] border-r-2">Tên</th>
                        <th class="w-[10%] border-r-2">Kích cỡ</th>
                        <th class="w-[10%] border-r-2">Giá</th>
                        <th class="w-[10%] border-r-2">Khác</th>
                    </thead>
                    <tbody class="bg-zinc-100">
                    <% anotherDishes.forEach(dish => { %>
                        <% for (let i = 0; i < dish.Kichco.length; i++){ if (dish.current_status[i]){ %>
                            <tr class="h-[40px] border-b-2">
                                <th class="border-r-2"><%= dish.Maloaimon %></th> 
                                <th class="border-r-2">
                                    <%= dish.Ten  %>
                                </th>
                                <th class="border-r-2"><%= dish.Kichco[i] %></th>
                                <th class="border-r-2"><%= dish.Dongia[i]  %></th>
                                <th class="border-r-2">
                                    <a href="/dish/admin/add/<%= dish.Maloaimon %>" class="inline-block text-sm text-white text-center mr bg-blue-600 rounded no-underline px-[5px] py-[5px]">Thêm món</a>
                                    <a href="/dish/admin/update/<%= dish.Maloaimon %><%= dish.Kichco[i] %>" class="inline-block text-sm text-white text-center bg-green-600 rounded no-underline px-[5px] py-[5px]">Sửa món</a>
                                    <form class="inline-block" action="/dish/admin/delete/<%= dish.Maloaimon %><%= dish.Kichco[i] %>" method="post">
                                        <button type="submit" class="text-sm text-white text-center mr bg-red-600 rounded no-underline px-[5px] py-[5px]">Xóa món</button>
                                    </form>
                                </th>
                            </tr>
                        <% }} %>
                    <% }) %>
                    </tbody>
                <% } %>
            </table>

            <hr class="my-5 border border-black">
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Loại món chưa được có món</h3>
            <table class="w-[50%] text-lg">
                <thead class="bg-zinc-300 h-[50px]">
                    <th class="w-[8%] border-r-2">Mã loại món</th>
                    <th class="w-[10%] border-r-2">Tên</th>
                    <th class="w-[10%] border-r-2">Khác</th>
                </thead>
                <tbody class="bg-zinc-100">
                    <% noDishes.forEach(dish => {  %>
                        <tr class="h-[40px] border-b-2">
                            <th class="border-r-2"><%= dish.Maloaimon %></th>
                            <th class="border-r-2"><%= dish.Ten %></th>
                            <th class="border-r-2"><a href="/dish/admin/add/<%= dish.Maloaimon %>" class="inline-block text-sm text-white text-center mr bg-blue-600 rounded no-underline px-[5px] py-[5px]">Thêm món</a></th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>
<%- include('../includes/end.ejs') %>