<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')  %>    
    <main class="px-24 py-10">
        <%- include('./adminHeader.ejs') %>
                
        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5"></h3>
            <% if (orders?.length > 0) { %>
            <table class="w-[75%] text-lg mx-auto">
                <thead class="bg-zinc-300 h-[50px]">
                    <th class="w-[5%] border-r-2">STT</th>
                    <th class="w-[20%] border-r-2">Số lượng món</th>
                    <th class="w-[30%] border-r-2">Tổng giá gốc</th>
                    <th class="w-[20%] border-r-2">Tổng giá sau ưu đãi</th>
                    <th class="w-[20%] border-r-2">Khác</th>
                </thead>
                <tbody class="bg-zinc-100">
                    <% orders?.forEach(order => { %>
                        <tr class="h-[40px] border-b-2">
                            <th class="border-r-2"><%= order.MaDonHang  %></th>
                            <th class="border-r-2"><%= order.SoLuongMon %></th>
                            <th class="border-r-2"><%= order.TongGiaGoc %></th>
                            <th class="border-r-2"><%= order.TongGiaSauUuDai %></th>
                            <th class="border-r-2"><a href="/admin/cart/view/<%= order.MaDonHang  %>" class="border-2 py-2 px-4 rounded bg-blue-600 text-[white] text-center text-sm font-medium">Chi tiết</a></th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <h2>KHÔNG CÓ ĐƠN HÀNG NÀO !!!!!</h2>
            <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>