<%- include('../includes/header.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="px-24 py-10">
                <div class="flex gap-10">
                    <a href="/admin" class="text-black text-2xl font-bold mb-5">Món</a>
                    <a href="/admin/table" class="text-black text-2xl font-bold mb-5">Bàn</a>
                    <a href="/admin/cart" class="text-black text-2xl font-bold mb-5">Đơn hàng</a>
                    <a href="/admin/voucher" class="text-black text-2xl font-bold mb-5">Voucher</a>
                    <a href="/admin/staff" class="text-black text-2xl font-bold mb-5">Nhân viên</a>
                </div>

                <!-- <div>
            <a href="/voucher/admin/add" class="inline-block rounded-full text-sm text-white text-center mr-5 bg-violet-800 rounded no-underline px-[20px] py-[10px]">Them mon</a>
            <button class=" border-2 py-2 px-4 rounded-full bg-white-800 text-violet-800 text-center text-sm mr-5 font-medium">Xoa mon</button>
            <button class=" border-2 py-2 px-4 rounded-full bg-white-800 text-violet-800 text-center text-sm mr-5 font-medium">Chi tiet</button>
        </div>
                 -->
                <hr class="my-5 border border-black">

                <div>
                    <h3 class="text-black text-2xl not-italic font-bold mb-5">VOUCHER</h3>
                    <% if (voucher.length> 0){ %>
                        <table class="w-full">
                            <thead>
                                <!-- <th class="w-[5%]"></th> -->
                                <th class="w-[5%]">STT</th>
                                <th class="w-[10%]">Phần trăm giảm giá</th>
                                <th class="w-[10%]">Ghi chú</th>
                                <th class="w-[10%]">Giảm giá tối đa</th>
                                <th class="w-[10%]">Số lượng</th>
                                <th class="w-[10%]">Thời gian bắt đầu</th>
                                <th class="w-[10%]">Thời gian kết thúc</th>
                                <th class="w-[10%]">Khác</th>
                            </thead>
                            <tbody>
                                <% voucher.forEach(v=> { %>
                                    <tr>
                                        <!-- <th><input type="checkbox"></th> -->
                                        <th>
                                            <%= v.id %>
                                        </th>
                                        <th>
                                            <%= v.discount_percent %>
                                        </th>
                                        <th>
                                            <%= v.note ? v.note : 'Không có note' %>
                                        </th>
                                        <th>
                                            <%= v.max_discount %>
                                        </th>
                                        <th>
                                            <%= v.number===0 ? 'Đã hết voucher' : v.number %>
                                        </th>
                                        <th>
                                            <%= v.start_time %>
                                        </th>
                                        <th>
                                            <%= v.end_time %>
                                        </th>
                                        <th class="flex">
                                            <a href="/voucher/admin/add/<%= v.id %>"
                                                class="inline-block rounded-full text-sm text-white text-center bg-violet-800 rounded no-underline px-[20px] py-[10px]">Thêm</a>
                                            <a href="/voucher/admin/delete/<%= v.id %>"
                                                class="inline-block rounded-full text-sm text-white text-center bg-violet-800 rounded no-underline px-[20px] py-[10px]">Xóa</a>
                                        </th>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <p>Không có voucher</p>
                            <% } %>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>