<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')  %>    
    <main class="px-24 py-10">
        <div class="flex gap-10">
            <a href="/admin" class="text-black text-2xl font-bold mb-5">Mon</a>
            <a href="/admin/table" class="text-black text-2xl font-bold mb-5">Ban</a>
            <a href="/admin/cart" class="text-black text-2xl font-bold mb-5">Don hang</a>
            <a href="/admin/voucher" class="text-black text-2xl font-bold mb-5">Voucher</a>
            <a href="/admin/staff" class="text-black text-2xl font-bold mb-5">Nhan vien</a>
        </div>

        <div>
            <a href="/dish/admin/add" class="inline-block rounded-full text-sm text-white text-center mr-5 bg-violet-800 rounded no-underline px-[20px] py-[10px]">Them mon</a>
            
            <button class=" border-2 py-2 px-4 rounded-full bg-white-800 text-violet-800 text-center text-sm mr-5 font-medium">Xoa mon</button>
            <button class=" border-2 py-2 px-4 rounded-full bg-white-800 text-violet-800 text-center text-sm mr-5 font-medium">Chi tiet</button>
        </div>

        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Thuc uong</h3>
            <table class="w-50%">
                <% if (drinkDishes.length === 0) { %>
                    <span>Khong con thuc uong</span>
                <% } else { %>
                        <thead>
                            <th class="w-[5%]"></th>
                            <th class="w-[10%] text-violet-500">Tên</th>
                            <th class="w-[10%] text-violet-500">Kich co</th>
                            <th class="w-[10%] text-violet-500">Giá</th>
                            <th class="w-[10%] text-violet-500">Khac</th>
                        </thead>
                        <tbody>
                        <% drinkDishes.forEach(dish => { %>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>
                                    <%= dish.Ten  %>
                                </th>
                                <th><%= dish.Kichco  %></th>
                                <th><%= dish.Dongia  %></th>
                                <th><a href="/dish/admin/add" class="inline-block rounded-full text-sm text-white text-center mr-5 bg-violet-800 rounded no-underline px-[20px] py-[10px]">Sua mon</a></th>
                            </tr>
                            <% }) %>
                        </tbody>
                <% } %>
            </table>
        </div>
                
        <hr class="my-5 border border-black">

        <div>
            <h3 class="text-black text-2xl not-italic font-bold mb-5">Mon an nhe</h3>
            <table class="w-50%">
                <% if (anotherDishes.length === 0) { %>
                    <span>Khong con do an nhe</span>
                <% } else { %>
                        <thead>
                            <th class="w-[5%]"></th>
                            <th class="w-[10%] text-violet-500">Tên</th>
                            <th class="w-[10%] text-violet-500">Kich co</th>
                            <th class="w-[10%] text-violet-500">Giá</th>
                            <th class="w-[10%] text-violet-500">Khac</th>
                        </thead>
                        <tbody>
                        <% anotherDishes.forEach(dish => { %>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>
                                    <%= dish.Ten  %>
                                </th>
                                <th><%= dish.Kichco  %></th>
                                <th><%= dish.Dongia  %></th>
                                <th><a href="/dish/admin/add/<%= dish.Maloaimon %><%= dish.Kichco %>" class="inline-block rounded-full text-sm text-white text-center mr-5 bg-violet-800 rounded no-underline px-[20px] py-[10px]">Sua mon</a></th>
                            </tr>
                            <% }) %>
                        </tbody>
                <% } %>
            </table>
        </div>
    </main>
<%- include('../includes/end.ejs') %>