<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs')  %>    
    <main class="mx-auto px-2 py-10 flex flex-col max-w-screen-xl">
        <div class="w-full h-full flex justify-center items-center mb-5">
            <img class="w-[769px] h-[400px]" src="/images/157a66fb2e38fad05e8115b4d4c6cf68.png" />
            <div class="w-[511px] h-[400px] bg-neutral-300 relative">
                <div class="text-[white] font-bold text-4xl text-center absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2">
                    WELCOME TO OUR COFFEE SHOP
                </div>
            </div>
        </div>

        <h2 class="text-black text-2xl not-italic font-bold mb-5">Loại món của chúng tôi</h2>
        <div class="flex gap-20 flex-wrap">
            <% dishTypes.forEach(dishType => { %>
                <div class="flex w-68 flex-col items-start gap-2">
                    <div class="image">
                        <img class="w-68 h-52 border-4" src="/images/157a66fb2e38fad05e8115b4d4c6cf68.png" alt="">
                    </div>
                    <div class="title text-black text-left font-bold text-2xl"><%= dishType.Ten  %></div>
                    <span class="price"><%= dishType.Mota  %></span>
                    <div class="flex justify-between items-center self-stretch">
                        <span class="price">Từ <strong><%= dishType.Giobatdau  %></strong></span>
                        <span class="price">Đến <strong><%= dishType.Gioketthuc  %></strong></span>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
<%- include('includes/end.ejs') %>