<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs')  %>    
    <main class="px-24 py-10">
        <h2 class="text-black text-2xl not-italic font-bold mb-5">Tai khoan</h2>
        <hr class="my-5 border border-black">
        <form action="/profile/update/<%= isAuth %>" method="post">

            <div class="avatar flex items-start">
                <h3 class="text-black not-italic font-bold mb-5 basis-1/5">
                    Thong tin ca nhan
                </h3>
    
                <div class="flex flex-col" action="">
                    <label for="email">Email</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.email  %>" autocomplete="off" type="text" id="email" name="email">
    
                    <label for="name">Name</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.HoVaTen  %>" autocomplete="off" type="text" id="name" name="name">

                    <label for="password">Password</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.mk  %>" autocomplete="off" type="text" id="password" name="password">
    
                    <label for="address">Address</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.DiaChi  %>" autocomplete="off" type="text" id="address" name="address">
    
                    <label for="phoneNumber">Phone number</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.SDT  %>" autocomplete="off" type="text" id="phoneNumber" name="phoneNumber">

                    <label for="dateOfBirth">Date of Birth</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.NgaySinh.toJSON().slice(0, 10)  %>" autocomplete="off" type="text" id="dateOfBirth" name="dateOfBirth">

                    <label for="supervisorID">Supervisor ID</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.MaGiamSat  %>" autocomplete="off" type="text" id="supervisorID" name="supervisorID">
                    
                    <label for="salary">Salary</label>
                    <input class="h-[35px] w-[500px] p-2 mb-5 border" value="<%= staff.Luong  %>" autocomplete="off" type="text" id="salary" name="salary" readonly="true">
                </div>
            </div>

            <button type="submit" class="border-2 py-2 rounded-full bg-violet-800 text-white text-center text-sm font-medium w-[50px]">Luu</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>