<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs')  %>    
    <main class="px-24 py-10">

        <h2 class="text-black text-2xl not-italic font-bold mb-5">Bàn</h2>
        <form action="/table/add-table-to-cart" method="post">
            <% if (tables.length > 0) { %>
                <div class="flex flex-wrap gap-20">
                    <% tables.forEach(table => { %>
                        <div class="flex w-56 flex-col items-start gap-3">
                            <div class="image">
                                <img class="w-56 h-48" src="/images/6cfbfa0af88fa50a9d19459774cdf677.png" alt="">
                            </div>
                            <div class="title text-black text-left font-bold"><span>Bàn số : </span><%= table?.fk_tableID %></div>
                            <div class="title text-black text-left font-bold"><span>Số lượng : </span><%= table?.seats %></div>
                            <div class="flex justify-between items-center self-stretch">
                                <div>
                                    <span class="startDate">Ngày đặt: <%= table?.startDate?.toJSON().slice(0, 10) ? table?.startDate?.toJSON().slice(0, 10) : 'Chưa được đặt' %></span>
                                    <div>
                                        <span class="startTime">Giờ bắt đầu: <%= table?.startTime %></span><br/>
                                        <span class="endTime">Giờ kết thúc: <%= table?.endTime %></span>
                                    </div>
                                </div>
                                <% if (table?.current_status){ %>
                                    <input type="checkbox" id="table" name="tableId" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="<%= table?.ID  %>"></input>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <h2>KHÔNG CÒN BÀN !!</h2>
            <% } %>

            <hr class="my-5 border border-black">

            <div class="customer">
                <h1 class="mb-3 font-bold text-2xl">THÔNG TIN KHÁCH HÀNG</h1>
                <div class="mb-3">
                    <label for="nameCustomer">Tên</label><br>
                    <input class="p-1 border w-[500px]" type="text" id="nameCustomer" name="nameCustomer">
                </div>
                <div class="mb-3">
                    <label for="addressCustomer">Địa chỉ</label><br>
                    <input class="p-1 border w-[500px]" type="text" id="addressCustomer" name="addressCustomer">
                </div>
                <div class="mb-3">
                    <label for="startDate">Ngày đặt</label><br>
                    <input class="p-1 border w-[500px]" type="date" id="startDate" name="startDate">
                </div>
                <div class="mb-3">
                    <label for="startTime">Giờ bắt đầu</label><br>
                    <input class="p-1 border w-[500px]" type="time" id="startTime" name="startTime">
                </div>
                <div class="mb-3">
                    <label for="endTime">Giờ kết thúc</label><br>
                    <input class="p-1 border w-[500px]" type="time" id="endTime" name="endTime">
                </div>
            </div>
            <button type="submit" class="py-2 px-8 rounded-lg bg-purple-800 text-white text-center text-base not-italic font-medium leading-5 float-right">Đặt bàn</button>
        </form>
    </main>
    <script>
        const inputCheckboxes = document.querySelectorAll('input[type="checkbox"]');

        for (let i = 0; i < inputCheckboxes.length; i++){
            inputCheckboxes[i].onclick = function() {
                for (let j = 0; j < inputCheckboxes.length; j++) {
                    if (j !== i) {
                        inputCheckboxes[j].checked = false;
                    }
                }
            };
        }
    </script>
<%- include('includes/end.ejs') %>