<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png">
        <title><%= pageTitle  %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5 mb-5 text-center text-primary"><b>Chi tiết bàn và doanh thu</b></h1>
            
            <div class="form-group col-md-4 mb-4">
                <label class="text-black-50">Mã bàn: </label>
                <input class="form-control" value="<%= tableId %>" readonly>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="text-black-50">Ngày bắt đầu: </label>
                <input class="form-control" value="<%= startDate %>" readonly>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="text-black-50">Giờ bắt đầu: </label>
                <input class="form-control" value="<%= startTime %>" readonly>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="text-black-50">Ngày kết thúc: </label>
                <input class="form-control" value="<%= endDate %>" readonly>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="text-black-50">Giờ kết thúc: </label>   
                <input class="form-control" value="<%= endTime %>" readonly>
            </div>
            <hr class="my-2 border border-black">
            <div class="form-group col-md-4 mb-4">
                <label class="text-black-50">Doanh thu: </label>
                <input class="form-control" value="<%= doanhThu %>" readonly>
            </div>

        </div>
    </body>
</html>