<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png">

        <title><%= pageTitle  %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5 mb-5 text-center text-primary"><b>Chi tiết đơn hàng</b></h1>
            <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                <% carts.forEach(c => { %>
                    <div class="flex-fill">
                        <div class="form-group col-md-4 mb-4">
                            <label class="text-black-50">Ma mon:</label>
                            <input class="form-control" value="<%= c.Mamon %>" readonly>
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            <label class="text-black-50">Ten mon: </label>
                            <input class="form-control" value="<%= c.TenMon %>" readonly>
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            <label class="text-black-50">Kich co: </label>
                            <input class="form-control" value="<%= c.Kichco %>" readonly>
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            <label class="text-black-50">So luong: </label>
                            <input class="form-control" value="<%= c.Soluong %>" readonly>
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            <label class="text-black-50">Gia theo ngay: </label>   
                            <input class="form-control" value="<%= c.giatheongay %>" readonly>
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            <label class="text-black-50">Tong gia: </label>
                            <input class="form-control" value="<%= c.tong_gia %>" readonly>
                        </div>
                    </div>
                <% }) %>
            </div>

            <% if (!path.startsWith('/admin')) { %>
                <form action="/cart/invoice/export" method="post">
                    <input type="hidden" id="cartId" name="cartId" value="<%= idCart %>">
                    <input type="hidden" id="staffId" name="staffId" value="<%= idStaff %>">
                    <input type="hidden" id="priceSum" name="priceSum" value="<%= sumOfPrices %>">
                    <button type="submit" class="btn btn-primary bg-success float-end">Xuat</button>
                </form>
            <% } %>
        </div>
    </body>
</html>